In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
df = pd.read_csv('/content/gdrive/My Drive/train_tweets.csv', encoding='utf-8')

In [0]:
df.shape

(7613, 5)

In [0]:
df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [0]:
df = df.drop(['keyword', 'location'], axis=1)

In [0]:
df.head()

   id                                               text  target
0   1  Our Deeds are the Reason of this #earthquake M...       1
1   4             Forest fire near La Ronge Sask. Canada       1
2   5  All residents asked to 'shelter in place' are ...       1
3   6  13,000 people receive #wildfires evacuation or...       1
4   7  Just got sent this photo from Ruby #Alaska as ...       1

Сделаем предобработку с помощью spacy

In [0]:
import spacy
nlp = spacy.load('en',disable=['parser', 'ner', 'textcat'])

In [0]:
import re
def reduce_to_double_max(text):
    text = re.sub(r'(\w)\1{2,}', r'\1\1', text)
    return re.sub(r'(\W)\1+', r'\1', text)

In [0]:
def preprocess_corpus(corpus):
    corpus = (reduce_to_double_max(s.lower()) for s in corpus)
    docs = nlp.pipe(corpus, batch_size=1000, n_threads=4)
    return [' '.join([x.lemma_ for x in doc if x.is_alpha]) for doc in docs]

In [0]:
train_processed = preprocess_corpus(df['text'])
df['text'] = train_processed
df.head()

   id                                               text  target
0   1  -PRON- deed be the reason of this earthquake m...       1
1   4              forest fire near la ronge sask canada       1
2   5  all resident ask to shelter in place be be not...       1
3   6  people receive wildfire evacuation order in ca...       1
4   7  just get send this photo from ruby alaska as s...       1

Поделим на тестовую и тренировочную выборки

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df['text'], df['target'], test_size=0.3, shuffle=True)

Векторизуем твиты с помощью Tf-idf Vectorizer

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_df=0.87,
               smooth_idf=1, max_features=300000)
#tf-idf
train_vecs =  vectorizer.fit_transform(x_train)
test_vecs = vectorizer.transform(x_test)

Перед нейронными сетями посмотрим на резульаьты классификатора - логистическая регрессия

In [0]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=12, max_iter=10000, dual=False)
logreg.fit(train_vecs, y_train)

LogisticRegression(C=12, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, logreg.predict(test_vecs)))
print(f1_score(y_test, logreg.predict(test_vecs)))

0.7880910683012259
0.7452631578947368

Как мы видим, результаты не самые хорошие, поэтому переходим к более сложным методам классификации

##NN

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

Using TensorFlow backend.

In [0]:
def build_model(input_shape):
    model = Sequential()
    model.add(Dense(128, activation='sigmoid', input_dim=input_shape))
    #model.add(Dense(64, activation='sigmoid'))
    model.add(Dense(5, activation='softmax'))
    model.compile(loss='sparse_categorical_crossentropy', optimizer='rmsprop', metrics=['acc'])
    return model

In [0]:
input_shape = train_vecs.shape[1]

Сначала применим модель Sequential к данным, репрезентированным путём tf-idf

In [0]:
model = build_model(input_shape)
model.fit(train_vecs, y_train,
          validation_data=(test_vecs, y_test),
                    epochs=10, batch_size=32)

Train on 5329 samples, validate on 2284 samples
Epoch 1/10
5329/5329 [==============================] - 3s 638us/step - loss: 0.7093 - acc: 0.6157 - val_loss: 0.6265 - val_acc: 0.7793
Epoch 2/10
5329/5329 [==============================] - 3s 609us/step - loss: 0.5872 - acc: 0.7442 - val_loss: 0.5639 - val_acc: 0.7920
Epoch 3/10
5329/5329 [==============================] - 3s 606us/step - loss: 0.5129 - acc: 0.8112 - val_loss: 0.5103 - val_acc: 0.7977
Epoch 4/10
5329/5329 [==============================] - 3s 593us/step - loss: 0.4539 - acc: 0.8321 - val_loss: 0.4817 - val_acc: 0.7938
Epoch 5/10
5329/5329 [==============================] - 3s 606us/step - loss: 0.4081 - acc: 0.8463 - val_loss: 0.4604 - val_acc: 0.8039
Epoch 6/10
5329/5329 [==============================] - 3s 595us/step - loss: 0.3744 - acc: 0.8576 - val_loss: 0.4529 - val_acc: 0.8012
Epoch 7/10
5329/5329 [==============================] - 3s 597us/step - loss: 0.3477 - acc: 0.8658 - val_loss: 0.4564 - val_acc: 0.8074
Epoch 8/10
5329/5329 [==============================] - 3s 602us/step - loss: 0.3280 - acc: 0.8718 - val_loss: 0.4528 - val_acc: 0.7999
Epoch 9/10
5329/5329 [==============================] - 3s 609us/step - loss: 0.3098 - acc: 0.8805 - val_loss: 0.4601 - val_acc: 0.7942
Epoch 10/10
5329/5329 [==============================] - 3s 614us/step - loss: 0.2957 - acc: 0.8876 - val_loss: 0.4662 - val_acc: 0.7929

Качество повысили, теперь оно около 0.8. Теперь попробуем применить ту же модель, но данные представим векторами с помощью модели w2v из модуля spacy

In [0]:
vecs = pd.DataFrame(index = df.index, columns = [d for d in range(96)])
vecs.head()

    0    1    2    3    4    5    6   ...   89   90   91   92   93   94   95
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 96 columns]

In [0]:
import numpy as np
for i, t in enumerate(df['text']): # для каждой строки в датафрейме
    t_vec = (nlp(' '.join(t))).vector # векторизуем текст
    if t_vec.shape == (0,):
        vecs.values[i] = np.array(0)*128 # заменяем строчки на наш вектор
    else:
        vecs.values[i] = t_vec

In [0]:
vecs.head()

        0         1         2   ...        93         94       95
0  1.99564 -0.978775  0.713813  ... -0.562891   0.535796  1.66736
1  1.77575  -1.38535  0.935037  ... -0.490569   0.157037  2.29135
2   2.1252   -1.0275  0.914514  ... -0.558393   0.084925  1.94959
3  2.13461 -0.998269  0.870933  ... -0.245959   0.313535  1.93752
4  1.97374 -0.904708  0.616136  ... -0.273811  0.0465797  2.13367

[5 rows x 96 columns]

Так же разобьём на тренировочную и тестовую выборки

In [0]:
x_train_wv, x_test_wv, y_train_wv, y_test_wv = train_test_split(vecs, df['target'], test_size=0.33, random_state=42)

In [0]:
input_shape_1 = x_train_wv.shape[1]

In [0]:
model_1 = build_model(input_shape_1)
model_1.fit(x_train_wv, y_train_wv,
          validation_data=(x_test_wv, y_test_wv),
                    epochs=10, batch_size=32)

Train on 5100 samples, validate on 2513 samples
Epoch 1/10
5100/5100 [==============================] - 1s 215us/step - loss: 0.6725 - acc: 0.6057 - val_loss: 0.6260 - val_acc: 0.6403
Epoch 2/10
5100/5100 [==============================] - 0s 62us/step - loss: 0.6354 - acc: 0.6422 - val_loss: 0.6224 - val_acc: 0.6502
Epoch 3/10
5100/5100 [==============================] - 0s 63us/step - loss: 0.6262 - acc: 0.6514 - val_loss: 0.6538 - val_acc: 0.6057
Epoch 4/10
5100/5100 [==============================] - 0s 64us/step - loss: 0.6225 - acc: 0.6541 - val_loss: 0.7030 - val_acc: 0.5826
Epoch 5/10
5100/5100 [==============================] - 0s 65us/step - loss: 0.6209 - acc: 0.6498 - val_loss: 0.6800 - val_acc: 0.5842
Epoch 6/10
5100/5100 [==============================] - 0s 69us/step - loss: 0.6169 - acc: 0.6627 - val_loss: 0.6221 - val_acc: 0.6550
Epoch 7/10
5100/5100 [==============================] - 0s 64us/step - loss: 0.6183 - acc: 0.6614 - val_loss: 0.6284 - val_acc: 0.6502
Epoch 8/10
5100/5100 [==============================] - 0s 69us/step - loss: 0.6156 - acc: 0.6618 - val_loss: 0.6505 - val_acc: 0.6208
Epoch 9/10
5100/5100 [==============================] - 0s 64us/step - loss: 0.6131 - acc: 0.6682 - val_loss: 0.6062 - val_acc: 0.6769
Epoch 10/10
5100/5100 [==============================] - 0s 66us/step - loss: 0.6114 - acc: 0.6710 - val_loss: 0.7237 - val_acc: 0.5647

Качество стало намного хуже, переходим к сеткам посложнее и другой предобученной модели векторов

#### для эмбеддингов

In [0]:
maxlen = 120
embedding_dim = 100
BatchSize = 100

Данных много - понадобиться генератор

In [0]:
from keras.utils import Sequence
from keras import layers
from keras import Model
class DataGenerator(Sequence):
    #Generates data for Keras
    def __init__(self, texts, labels, batch_size, embedding_dim, max_length, shuffle=False):
        self.labels = labels
        self.texts = texts
        self.embedding_dim = embedding_dim
        self.batch_size = batch_size
        self.max_length = max_length
        self.shuffle = shuffle
        self.on_epoch_end()
    
    def __len__(self):
		#'Denotes the number of batches per epoch'
        return int(np.floor(len(self.texts) / self.batch_size))

    def __getitem__(self, index):
        #'Generate one batch of data'
        # Generate indexes of the batch
        indexes = self.indexes[index*self.batch_size:(index+1)*self.batch_size]

        temp_texts = [self.texts.iloc[k] for k in indexes]
        temp_labels = [self.labels.iloc[k] for k in indexes]
        # Generate data
        X, y = self.__data_generation(temp_texts, temp_labels)        
        return X, y
        
    def on_epoch_end(self):
        #'Updates indexes after each epoch'
        self.indexes = np.arange(len(self.texts))
        if self.shuffle:
            np.random.shuffle(self.indexes)

    def __data_generation(self, temp_texts, temp_labels):
        #'Generates data containing batch_size samples' # X : (n_samples, *dim, n_channels)
        # Initialization
        # Создается тензор с объектами
        # Размерность: BATCH_SIZE x MAX_LENGTH x EMBEDDING_DIM
        X = np.zeros(shape=(self.batch_size, 
                            self.max_length, 
                            self.embedding_dim)) 
        y = np.zeros((self.batch_size), dtype=int) # Если класс кодируется числом, если в категориальной форма - то размер будет BATCH_SIZE x COUNT_OF_CLASSES
        # Generate data
        for instance_number in range(self.batch_size):
            try:
                for current_token in range(self.max_length):
                    if temp_texts[instance_number][current_token] in model.vocab:
                        X[instance_number,current_token,:] = model.get_vector(temp_texts[instance_number][current_token])# Эмбеддинг этого слова
            except IndexError:
                pass

            y[instance_number] = temp_labels[instance_number]
        return X, y

In [0]:
import gensim.downloader as api
model = api.load("glove-wiki-gigaword-100")

[==================================================] 100.0% 128.1/128.1MB downloaded

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:410: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

Возьмём сверточную нейросеть с разным числом фильтров (2-5), также используем другую репрезентацию из модели glove-wiki-gigaword-100, вектора с размерностью 100

In [0]:
def CNNModel(
    maxlen, # Максимальная длина последовательности
    embedding_dim, # разбер эмбеддинга
):

  COUNT_OF_FILTERS = 256 # Возможно, придется подобрать...
  COUNT_OF_NEURONS = 128 # Возможно, придется подобрать...

  inputs = layers.Input(shape=(maxlen, embedding_dim))
  convs = []
  for kernel_size in [2,3,4,5]:
    c = layers.Conv1D(COUNT_OF_FILTERS, kernel_size=kernel_size, activation='relu')(inputs)
    c = layers.GlobalMaxPool1D()(c)
    convs.append(c)
  x = layers.Concatenate()(convs)
  x = layers.Dropout(0.2)(x)
  x = layers.Dense(COUNT_OF_NEURONS, activation = 'tanh')(x)
  x = layers.Dropout(0.3)(x)
  output = layers.Dense(5, 
                 activation = 'softmax' # или sigmoid? выберете сами
                 )(x)
  model = Model(inputs = inputs, outputs = output)
  return model

In [0]:
import numpy as np

training_generator = DataGenerator(texts=x_train, labels=y_train, batch_size=2, embedding_dim=100, max_length=120)
validation_generator = DataGenerator(texts=x_test, labels=y_test, batch_size=2, embedding_dim=100, max_length=120)

In [0]:
cnnm = CNNModel(120, 100)
cnnm.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['acc'])
cnnm.fit_generator(generator=training_generator,
                    validation_data=validation_generator, epochs=10)

Epoch 1/10
2664/2664 [==============================] - 54s 20ms/step - loss: 0.7943 - acc: 0.5178 - val_loss: 0.6940 - val_acc: 0.5709
Epoch 2/10
2664/2664 [==============================] - 53s 20ms/step - loss: 0.7161 - acc: 0.5362 - val_loss: 0.6834 - val_acc: 0.5709
Epoch 3/10
2664/2664 [==============================] - 52s 19ms/step - loss: 0.7124 - acc: 0.5437 - val_loss: 0.6848 - val_acc: 0.5705
Epoch 4/10
2664/2664 [==============================] - 52s 20ms/step - loss: 0.7074 - acc: 0.5364 - val_loss: 0.7494 - val_acc: 0.4291
Epoch 5/10
2664/2664 [==============================] - 52s 20ms/step - loss: 0.7079 - acc: 0.5355 - val_loss: 0.6836 - val_acc: 0.5705
Epoch 6/10
2664/2664 [==============================] - 53s 20ms/step - loss: 0.7122 - acc: 0.5297 - val_loss: 0.6840 - val_acc: 0.5709
Epoch 7/10
2664/2664 [==============================] - 53s 20ms/step - loss: 0.7110 - acc: 0.5327 - val_loss: 0.7209 - val_acc: 0.4291
Epoch 8/10
2664/2664 [==============================] - 53s 20ms/step - loss: 0.7119 - acc: 0.5268 - val_loss: 0.6861 - val_acc: 0.5705
Epoch 9/10
2664/2664 [==============================] - 52s 20ms/step - loss: 0.7080 - acc: 0.5343 - val_loss: 0.6847 - val_acc: 0.5705
Epoch 10/10
2664/2664 [==============================] - 53s 20ms/step - loss: 0.7137 - acc: 0.5291 - val_loss: 0.6972 - val_acc: 0.4291

Качество, к сожалению, уменьшилось, макисмально здесь получилось - 0.5709